body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
  position: relative;
}

#login {
  position: fixed;
  top: 20px;
  right: 20px;
}

#nav-bar {
  margin-top: 20px;
}
#login-form {
  border: 1px solid black;
  padding: 20px;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
}

.account-form {
  border: 1px solid black;
  padding: 20px;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
}